.first{
    font-weight: bold;
    font-family: serif;
    font-size: 40px;
    padding-left: 10px;
}
.first:hover{
    font-size: 50px;
}



/* Sidebar Styles */
aside {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Section Titles */
  aside h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333333;
  }
  
  aside h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #555555;
    margin-bottom: 12px;
  }
  
  /* Category List */
  aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  aside li {
    font-size: 1rem;
    padding: 8px 0;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  
  /* Brand Checkboxes */
  .brand-checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 14px; /* Space between checkboxes */
  }
  
  .brand-checkbox {
    flex: 1 1 calc(33.33% - 16px); /* Three checkboxes per row */
    display: flex;
    align-items: center;
  }
  
  
  /* Sort Dropdown */
  select {
    font-size: 1rem;
    color: #555555;
    border: 1px solid #dddddd;
    padding: 8px;
    border-radius: 8px;
    background-color: #f9f9f9;
    appearance: none;
    transition: border-color 0.3s ease;
  }
  
  select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.5);
  }
  
  /* Button Styles */
  button {
    font-family: 'Roboto', sans-serif;
  }
  

  @media (max-width: 768px) {
    .brand-checkbox {
      flex: 1 1 calc(50% - 16px); /* Two checkboxes per row on small screens */
    }
  }
  
  @media (max-width: 480px) {
    .brand-checkbox {
      flex: 1 1 100%; /* One checkbox per row on very small screens */
    }
  }

  .selected {
    font-weight: bold;
    color: blue;
}

.third{
    text-align: center;
}
 
.last{
    width:100%;
}

.d1{
  height:500px;
}


.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #3b82f6;
  border-radius: 50%;
  margin: 0 10px;
  animation: bounce 0.5s ease-in-out infinite;
}

.circle:nth-child(2) {
  animation-delay: 0.1s;
}

.circle:nth-child(3) {
  animation-delay: 0.2s;
}

.circle:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

  